:root, [data-bs-theme=light] {
  --bs-primary-rgb: 0, 35, 51;
}

body[data-bs-theme=dark] {
  --bs-primary-rgb: 13, 15, 15;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.text-justify{
  text-align: justify;
}


